 <%= form_with model: @user do |form| %>
            <div class="text-center">
              <%= form.label :name %><br>
              <%= form.text_field :name %>
            </div>
            <div>
              <%= form.label :email %><br>
              <%= form.email_field :email %><br>
            </div>
            <%= form.submit %>
        <% end %>